[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2022.12.7"
charset-normalizer = "==2.0.12"
idna = "==3.3"
requests = "==2.27.1"
urllib3 = "==1.26.9"

[dev-packages]

[requires]
python_version = "3.9"
